* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  height: 100%;
  font-size: 14pt;
}

body {
  height: 100%;
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: crimson;
  padding: 15px;
}

.header > button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}

/* MAIN */

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: bisque;
  padding: 30px;
}

.main h1 {
  font-size: 3rem;
}

.main h2 {
  font-size: 1.5rem;
}

.main h6 {
  font-size: 1rem;
}

.main p {
  font-size: 1rem;
}

.main > img {
  width: 12rem;
}

.testimonial {
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify.main: space-between;
  align-items: flex-start;
  gap: 5px;
}

.testimonial > p {
  font-style: italic;
}

.testimonial > h6 {
  align-self: flex-end;
}
